.main {
  display: flex;
}

.flower {
  padding: 10px 15px;
}

.menu {
  padding: 200px;
  padding-left: 10px;
}

.heading{
  text-align: center;
  color: orange;
}

.comment{
  font-size: 20px;
  -webkit-appearance: none;
  background-color: rgb(219, 210, 210);
}

.flower_detail {
  padding: 200px;
  padding-left: 10px;
  text-align: justify
}